@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header class="text-center mt-5">
    <h1>@ViewData["Title"]</h1>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <p>Are you sure you want to log out?</p>
        <form class="form-inline d-inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            <button type="submit" class="btn btn-danger">Log Out</button>
        </form>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login Again</a>
    }
</header>
